.card {
  font-size: 50px;
  width: 100%;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.face-down-card {
  background-color: var(--color-green-30);
  border: 10px solid var(--color-green-50);

  &:hover {
    box-shadow: 6px 6px 0px rgba(211, 211, 211, 0.4);
  }
}

.face-up-card {
  box-shadow: 0 2px 8px rgba(160, 160, 160, 0.47);
  background-color: white;
  border: 10px solid var(--color-brown-50);
}
