.card {
  font-size: 10vw;
  width: 100%;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  --border-width: 10px;
  @media (max-width: 600px) {
    --border-width: 5px;
  }
  @media (max-width: 300px) {
    --border-width: 2px;
  }

  color: white;
  transition: color 600ms;
}

.face-down-card {
  background-color: var(--color-green-30);
  border: var(--border-width) solid var(--color-green-50);

  &:enabled {
    &:hover {
      box-shadow: 6px 6px 0px rgba(211, 211, 211, 0.4);
    }
    &:active {
      background-color: var(--color-green-50);
      transform: scale(1.05);
    }
  }
}

.card-matched {
  background-color: rgb(253, 244, 192);
  border: var(--border-width) solid var(--color-brown-50);
  color: rgba(255, 255, 255, 0.6);
}

.face-up-card {
  box-shadow: 0 2px 8px rgba(160, 160, 160, 0.47);
  background-color: white;
  border: var(--border-width) solid var(--color-brown-50);
}
