*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html,
div,
main,
section,
nav,
button {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  background-color: #fefae0;
  /* Palette: https://coolors.co/palette/ccd5ae-e9edc9-fefae0-faedcd-d4a373 */
}
