*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html,
div,
main,
section,
nav,
button {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  height: 100vh;
  background-color: #fefae0;
  align-items: center;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;

  --color-brown-30: #faedcd;
  --color-brown-50: #d4a373;

  /* Palette: https://coolors.co/palette/ccd5ae-e9edc9-fefae0-faedcd-d4a373 */
}
